<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pictionary.Mvc</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navigation-bar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/buttons.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Pictionary.Mvc.styles.css" asp-append-version="true" /> *@
    @RenderSection("styles", false)
</head>

<body>
    <header>
        <nav class="navigation-container">
            <div class="navigation-column">
                <div class="navigation-logoContainer">
                    <img src="~/assets/logo.png" alt="logo" class="navigation-logo" />
                    <h1 class="navigation-logoText">Pictionary</h1>
                    <div class="navigation-hamburger" onClick="toggleMenu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="navigation-column">
                <ul class="navigation-navItemsContainer">
                    <li class="navigation-navItem">
                        @Html.ActionLink("Home", "", "", null, null, "home", null, new { @class = "navigation-navLink" })
                        @* <HashLink smooth to="/#home" class="navigation-navLink">
                        Home
                        </HashLink> *@
                    </li>
                    <li class="navigation-navItem">
                        @Html.ActionLink("Packages", "", "", null, null, "packages", null,
                        new
                            {
                                @class =
                                 "navigation-navLink"
                            })
                    </li>
                    <li class="navigation-navItem">
                        @Html.ActionLink("Reviews", "", "", null, null, "reviews", null,
                        new
                            {
                                @class =
                                 "navigation-navLink"
                            })
                    </li>
                    <li class="navigation-navItem">
                        @Html.ActionLink("Contact Us", "", "", null, null, "contact", null,
                        new
                        {
                            @class =
                                "navigation-navLink"
                        })
                    </li>
                </ul>
            </div>
            <div class="navigation-column">
                <ul class="navigation-navItemsContainer">
                    @if(User.Identity.IsAuthenticated)
                    {
                        <li class="navigation-navItem">
                            @Html.ActionLink(
                                "Profile",
                                "",
                                "profile",
                                new {},
                                new
                                {
                                    @class =
                                    "navigation-navLink"
                                })
                        </li>
                        <li class="navigation-navItem">
                            @Html.ActionLink(
                                "Log Out",
                                "logout",
                                "auth",
                                new {},
                                new
                                {
                                    @class =
                                    "navigation-navLink"
                                })
                        </li>
                    }
                    <li class="navigation-navItem">
                        @Html.ActionLink(
                            !User.Identity.IsAuthenticated ? "Login in" : "Order Now",
                            !User.Identity.IsAuthenticated ? "login" : "",
                            !User.Identity.IsAuthenticated ? "auth" : "order",
                            new {},
                            new
                            {
                                @class =
                                 "navigation-navLink"
                            })
                    </li>
                    <li class="navigation-navItem">
                        @Html.ActionLink(
                            !User.Identity.IsAuthenticated ? "Sign up" : "My Orders",
                            !User.Identity.IsAuthenticated ? "signup" : "my-orders",
                            !User.Identity.IsAuthenticated ? "auth" : "order",
                            new {},
                            new
                            {
                                @class =
                                 "navigation-navLink"
                            })
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Pictionary.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <section id="contact" className={classes.container}>
                <div>
                    <h2 className={classes.title}>Contact Us</h2>
                    <p className={classes.text}>
                        You can contact us by sending us DM on Instagram
                    </p>
                </div>

                <div className={classes.social}>
                    <h3 className={classes.subtitle}>Follow us on Instagram</h3>
                    <InstagramIcon />
                </div>
                <ul className={classes.list}>
                    <li className={classes.item}>
                        <NavLink>Privacy Policy</NavLink>
                    </li>
                    <li className={classes.item}>
                        <NavLink>Terms & Conditions</NavLink>
                    </li>
                    <li className={classes.item}>© 2023 Pictionary</li>
                </ul>
            </section>
        </div>

    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
